/********** Déclarations préalables ***********/
@font-face {
    font-family: "Namco";
    src: url("../fonts/namco/namco.ttf");
}
@font-face {
    font-family: "Tekken";
    src: url("../fonts/tarrget/tarrget.ttf");
}
@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf");
}

/********** Reset *********/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter";
}

/********** Général *********/

/* Titre */
h1 {
    font-family: "Tekken";
    color: white;
    text-align: center;
    letter-spacing: 0.5rem;
    font-size: 1rem;
    text-shadow: 10px 5px 5px black;
}
h1 span {
    font-family: "Tekken";
    font-size: 5rem;
    letter-spacing: 2rem;
    color: rgb(190, 0, 0);
    text-shadow: 10px 5px 5px black;
}
/* Liens */
a {
    text-decoration: none;
    color: white;
    font-family: "Namco";
    background-color: rgb(190, 0, 0);
    border: 5px solid rgb(138, 0, 0);
    border-radius: 20px;
    padding: 16px 32px;
    letter-spacing: 0.5rem;
    font-size: 0.5rem;
    width: -moz-fit-content;
    width: fit-content;
}
a:hover {
    color: black;
    background-color: rgb(218,165,32);
    border: 5px solid rgb(218,165,32);
}

/* Flexbox */
.flex {
    display: flex;
    flex-wrap: wrap;
}
.align-center {
    align-items: center;
}
.justify-center {
    justify-content: center;
}
.justify-around {
    justify-content: space-around;
}
.direction-column {
    flex-direction: column;
}
.gap20 {
    gap: 20px;
}

/* Largeurs */
.w100 {
    width: 45%;
}
.w45 {
    width: 45%;
}
.w30 {
    width: 30%;
}
.w300px {
    width: 300px;
}

/* Affichage */
.d-none {
    display: none;
}

/* Formulaire */
.input-error {
    background-color: rgb(255, 183, 183);
}
.erreur {
    font-style: italic;
    font-size: 0.8rem;
    margin-top: 5px;
    color: yellow;
}
.info {
    font-weight: 700;
    font-size: 1.5rem;
    margin-top: 5px;
    color: green;
    font-family: "Tekken";
    letter-spacing: 0.5rem;
}

/* Bouton Back */
a.btn-back {
    position: fixed;
    left: 40px;
    top: 40px;
}
a.btn-deconnexion {
    position: fixed;
    left: 40px;
    top: 40px;
    padding: 0px;
    border: none;
    background-color: transparent;
}

/********** Accueil *********/
main.accueil {
    background: linear-gradient(90deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 100%), url("../img/combat-accueil-background.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;
    gap: 100px;
}
div.button-accueil {
    gap: 30px;
}
div.button-accueil a {
    font-size: 0.7rem;
}

/********** Création de personnage *********/
main.personnage {
    background: linear-gradient(90deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 100%), url("../img/combat-accueil-background.jpg");
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    gap: 100px;
}
form.creation-personnage {
    background-color: rgb(138, 0, 0);
    color: white;
    padding: 40px;
    border-radius: 20px;
    width: 50%;
}
form.creation-personnage input {
    height: 30px;
    padding-left: 10px;  
}
form.creation-personnage input[type=submit] {
    margin-top: 40px;
    width: -moz-fit-content;
    width: fit-content;
    height: fit-content;
    align-self: center;
    padding: 10px 20px;
    color: black;
    background-color: rgb(218,165,32);
    border: 5px solid rgb(218,165,32);
    border-radius: 10px;
    font-family: "Tekken";
    letter-spacing: 0.5rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: transform ease-in-out 400ms;
}
form.creation-personnage input[type=submit]:hover {
    transform: scale(1.15);
}
form.creation-personnage fieldset.caracteristiques {
    margin-top: 20px;
    padding: 20px;
    border-color: black;
    border-style: solid;
}
form.creation-personnage fieldset.caracteristiques>p {
    margin-bottom: 20px;
}
form.creation-personnage fieldset.caracteristiques>div {
    gap: 10px;
}
form.creation-personnage fieldset.caracteristiques legend {
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 700;
    font-family: "Namco";
    font-size: 0.8rem;
    color:rgb(218,165,32);
}
form.creation-personnage fieldset.caracteristiques label {
    font-weight: 700;
}
form.creation-personnage fieldset.caracteristiques p.explication {
    font-style: italic;
    font-size: 0.8rem;
    text-align: center;
}
form.creation-personnage fieldset.caracteristiques input {
    width: 80px;
    height: 50px;
    font-family: "Tekken";
    font-size: 1.5rem;
    text-align: center;
}

/********** Connexion *********/
main.connexion {
    background: linear-gradient(90deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 100%), url("../img/combat-accueil-background.jpg");
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    gap: 100px;
}
form.connexion {
    background-color: rgb(138, 0, 0);
    color: white;
    padding: 40px;
    gap: 40px;
    border-radius: 20px;
    width: 25%;
}
form.connexion label {
    display: block;
    font-weight: 700;
    font-family: "Namco";
    font-size: 0.8rem;
    text-align: center;
    width: 100%;
}
form.connexion input {
    margin-top: 20px;
    height: 30px;
    padding-left: 10px;  
    width: 100%;
}
form.connexion input[type=submit] {
    width: -moz-fit-content;
    width: fit-content;
    height: fit-content;
    align-self: center;
    padding: 10px 20px;
    color: black;
    background-color: rgb(218,165,32);
    border: 5px solid rgb(218,165,32);
    border-radius: 10px;
    font-family: "Tekken";
    letter-spacing: 0.5rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: transform ease-in-out 400ms;
}
form.connexion input[type=submit]:hover {
    transform: scale(1.15);
}

/********** Ecran de jeu *********/
/* Général */
h1.ingame {
    font-size: 2rem;
    color:rgb(218,165,32);
    width: 100%;
    height: 10vh;
}
section.personnage {
    height: 50vh;
    width: 100%;
    margin-bottom: 20px;
}
div.avancer{
    width: 20%;
}
div.personnage{
    width: 60%;
    height:100%;
    padding: 20px;
}
div.reculer{
    width: 20%;
}
img.personnage{
    height: 100%;
}
section.infos {
    height: 35vh;
    width: 100%;
}
div.evenements {
    width: 45%;
    height: 100%;
    overflow-y: auto;
}
div.adversaires {
    width: 45%;
    height: 100%;
    overflow-y: auto;
}
div.evenements th {
    background-color: rgb(218,165,32);
}
div.adversaires th {
    background-color: rgb(138, 0, 0);
}
table {
    width: 100%;
    max-height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    border-spacing: 0;
}
table th {
    padding: 10px;
    position: sticky;
    top: 0;
}
table tbody tr {
    height: 30px;
}



/* Etage Entrée */
main.etage0 {
    background: linear-gradient(90deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 100%), url("../img/etage0-background.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;
}

/* Etage 1 */

/* Etage 2 */

/* Etage 3 */

/* Etage 4 */

/* Etage 5 */

/* Etage 6 */

/* Etage 7 */

/* Etage 8 */

/* Etage 9 */

/* Etage Sortie */
