/********** Déclarations préalables ***********/
@font-face {
    font-family: "Namco";
    src: url("../fonts/namco/namco.ttf");
}
@font-face {
    font-family: "Tekken";
    src: url("../fonts/tarrget/tarrget.ttf");
}
@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf");
}

/********** Reset *********/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter";
}

/********** Général *********/

/* Titre */
h1 {
    font-family: "Tekken";
    color: white;
    text-align: center;
    letter-spacing: 0.5rem;
    font-size: 1rem;
    text-shadow: 10px 5px 5px black;
    width: 80%;
}
h1 span {
    font-family: "Tekken";
    font-size: 1rem;
    letter-spacing: 1rem;
    color: rgb(38, 190, 0);
    text-shadow: 10px 5px 5px black;
}
/* Liens */
a {
    text-decoration: none;
    color: white;
    font-family: "Namco";
    background-color: rgb(190, 0, 0);
    border: 5px solid rgb(138, 0, 0);
    border-radius: 20px;
    padding: 16px 32px;
    letter-spacing: 0.5rem;
    font-size: 0.5rem;
    width: -moz-fit-content;
    width: fit-content;
}
a:hover {
    color: black;
    background-color: rgb(218,165,32);
    border: 5px solid rgb(218,165,32);
}
img {
    pointer-events: none;
}

/* Flexbox */
.flex {
    display: flex;
    flex-wrap: wrap;
}
.align-center {
    align-items: center;
}
.justify-center {
    justify-content: center;
}
.justify-around {
    justify-content: space-around;
}
.justify-between {
    justify-content: space-between;
}
.direction-column {
    flex-direction: column;
}
.gap20 {
    gap: 20px;
}

/* Largeurs */
.w100 {
    width: 45%;
}
.w45 {
    width: 45%;
}
.w30 {
    width: 30%;
}
.w300px {
    width: 300px;
}

/* Affichage */
.d-none {
    display: none;
}

/* Modal */
div.modal {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 350px;
    background-color: orange;
    border: 5px solid orangered;
    border-radius: 20px;
    padding: 20px;
}
div.modal.succes {
    background-color: rgb(180, 255, 180);
    border: 5px solid green;
}
div.modal.echec {
    background-color: rgb(255, 180, 180);
    border: 5px solid red;
}

/* Formulaire */
.input-error {
    background-color: rgb(255, 183, 183);
}
.erreur {
    font-style: italic;
    font-size: 0.8rem;
    margin-top: 5px;
    color: yellow;
}
.info {
    font-weight: 700;
    font-size: 1.5rem;
    margin-top: 5px;
    color: green;
    font-family: "Tekken";
    letter-spacing: 0.5rem;
    text-align: center;
}

/* Bouton Back */
a.btn-back {
    position: fixed;
    left: 40px;
    top: 40px;
}
a.btn-deconnexion {
    position: fixed;
    left: 40px;
    top: 40px;
    padding: 0px;
    border: none;
    background-color: transparent;
}
a.action {
    border: none;
    background-color: transparent;
}

/********** Accueil *********/
main.accueil {
    background: linear-gradient(90deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 100%), url("../img/combat-accueil-background.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;
    gap: 100px;
}
div.button-accueil {
    gap: 30px;
}
div.button-accueil a {
    font-size: 0.7rem;
}

/********** Création de personnage *********/
main.personnage {
    background: linear-gradient(90deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 100%), url("../img/combat-accueil-background.jpg");
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    gap: 100px;
}
form.creation-personnage {
    background-color: rgb(138, 0, 0);
    color: white;
    padding: 40px;
    border-radius: 20px;
    width: 50%;
}
form.creation-personnage input {
    height: 30px;
    padding-left: 10px;  
}
form.creation-personnage input[type=submit] {
    margin-top: 40px;
    width: -moz-fit-content;
    width: fit-content;
    height: fit-content;
    align-self: center;
    padding: 10px 20px;
    color: black;
    background-color: rgb(218,165,32);
    border: 5px solid rgb(218,165,32);
    border-radius: 10px;
    font-family: "Tekken";
    letter-spacing: 0.5rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: transform ease-in-out 400ms;
}
form.creation-personnage input[type=submit]:hover {
    transform: scale(1.15);
}
form.creation-personnage fieldset.caracteristiques {
    margin-top: 20px;
    padding: 20px;
    border-color: black;
    border-style: solid;
}
form.creation-personnage fieldset.caracteristiques>p {
    margin-bottom: 20px;
}
form.creation-personnage fieldset.caracteristiques>div {
    gap: 10px;
}
form.creation-personnage fieldset.caracteristiques legend {
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 700;
    font-family: "Namco";
    font-size: 0.8rem;
    color:rgb(218,165,32);
}
form.creation-personnage fieldset.caracteristiques label {
    font-weight: 700;
}
form.creation-personnage fieldset.caracteristiques p.explication {
    font-style: italic;
    font-size: 0.8rem;
    text-align: center;
}
form.creation-personnage fieldset.caracteristiques input {
    width: 80px;
    height: 50px;
    font-family: "Tekken";
    font-size: 1.5rem;
    text-align: center;
}

/********** Connexion *********/
main.connexion {
    background: linear-gradient(90deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 100%), url("../img/combat-accueil-background.jpg");
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    gap: 100px;
}
form.connexion {
    background-color: rgb(138, 0, 0);
    color: white;
    padding: 40px;
    gap: 40px;
    border-radius: 20px;
    width: 25%;
}
form.connexion label {
    display: block;
    font-weight: 700;
    font-family: "Namco";
    font-size: 0.8rem;
    text-align: center;
    width: 100%;
}
form.connexion input {
    margin-top: 20px;
    height: 30px;
    padding-left: 10px;  
    width: 100%;
}
form.connexion input[type=submit] {
    width: -moz-fit-content;
    width: fit-content;
    height: fit-content;
    align-self: center;
    padding: 10px 20px;
    color: black;
    background-color: rgb(218,165,32);
    border: 5px solid rgb(218,165,32);
    border-radius: 10px;
    font-family: "Tekken";
    letter-spacing: 0.5rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: transform ease-in-out 400ms;
}
form.connexion input[type=submit]:hover {
    transform: scale(1.15);
}

/********** Ecran de jeu *********/
/* Général */
h1.ingame {
    font-size: 2rem;
    color:rgb(218,165,32);
    width: 100%;
    height: 10vh;
}
section.personnage {
    height: 50vh;
    width: 100%;
    margin-bottom: 20px;
}
div.deplacement{
    width: 20%;
}
div.personnage{
    width: 60%;
    height:100%;
    padding: 20px;
}
img.personnage{
    height: 100%;
}
section.infos {
    height: 28vh;
    width: 80%;
}
div.infos-personnage {
    width: 100%;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    font-weight: 700;
}
div.infos-personnage #pseudo {
    font-family: "Tekken";
    letter-spacing: 0.5rem;
}
div.infos-personnage table {
    background-color: white;
}
div.infos-personnage table td {
    width: 50px;
    text-align: center;
    padding: 0;
}
div.infos-personnage table td.libelle {
    background-color: black;
    color: white;
    width: 100px;
}
div.infos-personnage a.action.transform{
    padding: 0;
    display: inline;
    margin-left: 10px;
}
div.infos-personnage a.action.transform img{
    width: 16px;
}
div.evenements {
    width: 60%;
    height: 100%;
    overflow-y: auto;
}
div.evenements th {
    background-color: rgb(218,165,32);
}
div.evenements td img{
    width: 20px;
}
div.adversaires th {
    background-color: rgb(138, 0, 0);
}
div.adversaires {
    width: 35%;
    height: 100%;
    overflow-y: auto;
}
div.adversaires td.pseudo {
    font-family: "Tekken";
    letter-spacing: 0.5rem;
}
div.adversaires td.pdv {
    width: 150px;
    text-align: center;
    font-weight: 700;
}
section.infos .pdv.enforme {
    color: green;
}
section.infos .pdv.blesse {
    color: orange;
}
section.infos .pdv.malenpoint {
    color:red;
}
div.adversaires td.action {
    text-align: center;
    cursor: pointer;
}
table {
    width: 100%;
    max-height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    border-spacing: 0;
}
table th {
    padding: 10px;
    position: sticky;
    top: 0;
}
table tbody tr {
    height: 40px;
}
table tbody td {
    padding-left: 20px;
}

/* Etage Entrée */
main.etage0 {
    background: linear-gradient(90deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 100%), url("../img/etage0-background.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;
}

/* Etage 1 */
main.etage1 {
    background: linear-gradient(90deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 100%), url("../img/etage1-background.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;
}

/* Etage 2 */
main.etage2 {
    background: linear-gradient(90deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 100%), url("../img/etage2-background.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;
}

/* Etage 3 */
main.etage3 {
    background: linear-gradient(90deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 100%), url("../img/etage3-background.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;
}

/* Etage 4 */
main.etage4 {
    background: linear-gradient(90deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 100%), url("../img/etage4-background.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;
}

/* Etage 5 */
main.etage5 {
    background: linear-gradient(90deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 100%), url("../img/etage5-background.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;
}

/* Etage 6 */
main.etage6 {
    background: linear-gradient(90deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 100%), url("../img/etage6-background.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;
}

/* Etage 7 */
main.etage7 {
    background: linear-gradient(90deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 100%), url("../img/etage7-background.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;
}

/* Etage 8 */
main.etage8 {
    background: linear-gradient(90deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 100%), url("../img/etage8-background.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;
}

/* Etage 9 */
main.etage9 {
    background: linear-gradient(90deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 100%), url("../img/etage9-background.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;
}

/* Etage Sortie */
main.etage10 {
    background: linear-gradient(90deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 100%), url("../img/etage10-background.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;
}

/* Personnage animé */

.animated-personnage {
    background-image: url("../img/sprite_animated_personnage.png");
    height:363px;
    
}

.static {
    animation: waiting 1s steps(3) infinite;
    width: 214px;
}

.transform {
    width: 200px;
    animation: transform-point 1s steps(4) infinite;
}

.attack {
    width: 441px;
    animation: attack 1s steps(6) infinite;
}

.avance {
    width: 317px;
    /*animation: avance 200ms infinite;*/
    background-position-x: -5259px;
}

.recule {
    width: 254px;
    animation: recule 200ms infinite;
}

@keyframes waiting {
    from {
        background-position-x: -214px;
    }

    to {
        background-position-x: -856px;
    }
}

@keyframes transform-point {
    from {
        background-position-x: -1056px;
    }

    to {
        background-position-x: -1856px;
    }
}

@keyframes attack {
    from {
        background-position-x: -2295px;
    }

    to {
        background-position-x: -4942px;
    }
}

@keyframes avance {
    from {
        background-position-x: -4942px;
    }

    to {
        background-position-x: -5259px;
    }
}

@keyframes recule {
    from {
        background-position-x: -5576px;
    }

    to {
        background-position-x: -5830px;
    }
}


